# Flutter/Dart
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/

# MacOS
macos/Pods/

# Generated
coverage/